.button {
}

.disabled {
    background-color: cornflowerblue;
}

.secondary {
    background-color: grey;
}

.default {
    background-color: blue;
}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
